<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>East China University of Science Technology</li>
    <li>Department of Chemical Engineering</li>
    <li>Shanghai, China</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Xuhui, Shanghai</span></li>
    <!-- <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 234 567 890</span></li> -->
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mail">paulbao@mail.ecust.edu.cn</a></li>
    <!-- <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://cvless.netlify.app">https://cvless.netlify.app</a></li> -->
  </ul>
</div>
